<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Playground: Edit persons</title>
</head>
<h1>Django Playground: Edit persons</h1>
<form method="post">
    {% csrf_token %}
    {{ form.management_form }}
    {% for form in form %}
    {% if forloop.last %}
    <div id="id-person-form-template" class="person-form" style="display:none">
        {{ form.as_p }}
    </div>
    {% else %}
    <div class="person-form">
        {{ form.as_p }}
    </div>
    {% endif %}
    {% endfor %}
    <button onclick="addForm('person');return false;">Gimme another field</button>
    <input type="submit">
</form>
<script src="{% static 'inline_forms/js/formset-helper.js' %}"></script>
</body>
</html>
