<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Playground: Tree formsets & views</title>
</head>
<body>
<h1>Django Playground: Tree formsets & views</h1>
<ul>
    <li><a href="{% url 'cbv_trees:treenode-create' %}">Create TreeNode</a></li>
    <li><a href="{% url 'cbv_trees:treenode-list' %}">List TreeNodes</a></li>
    <li><a href="{% url 'cbv_trees:treenode-formset' %}">Edit/create TreeNodes (ModelFormSetView)</a></li>
</ul>
<h2>Maps and Layers</h2>
<ul>
    <li><a href="{% url 'cbv_trees:map-list' %}">List Maps</a></li>
    <li><a href="{% url 'cbv_trees:map-create-with-layers-inline' %}">Create Map with Layers (CreateViewInlines)</a></li>
</ul>
</body>
</html>
