<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Playground: Edit tree nodes</title>
</head>
<h1>Django Playground: Edit tree nodes</h1>
<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
    <div class="treenode-form" {% if forloop.last %}style="display:none" {% endif %}>
        {{ form.as_p }}
    </div>
    {% endfor %}
    <button onclick="addForm('treenode');return false;">Gimme another node</button>
    <input type="submit">
</form>
<script src="{% static 'inline_forms/js/formset-helper.js' %}"></script>
</body>
</html>
